<app-header></app-header>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Saswat's Electronic Shop</h1>
    <p class="lead">The Online Mega Store</p>
    <hr class="my-2">
  </div>
</div>
<div class="container-fluid">
  <!-- <app-products>Loading</app-products> -->
  <!-- <app-add-product-model-form>Loading</app-add-product-model-form> -->
  <!-- <app-add-product-template-form>Loading</app-add-product-template-form> -->
  <router-outlet></router-outlet>
  </div>

